.header
  .wrapper
    .menu_br
      %ul
        %li.no_bg
          = link_to "Thuis", thuis_path
        %li
          = link_to "Biografie", biografie_index_path
        %li
          = link_to "Werkwijze", werkwijze_index_path
        %li
          = link_to "Referenties", referenties_path
        %li
          = link_to "Kosten", kosten_index_path
        %li
          = link_to "Partners", partners_path
        %li
          = link_to "Contact", contact_index_path