!!!
%html
	%head
		%title Roel Spits: Resultaatgericht Sporten
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	%body
		.page_wrap
			= render "shared/header"
			.wrapper
				.logo
					%a{href: "#{root_path}"}
						%img{alt: "Logo", height: "114", src: asset_path("logo_06.png"), width: "151"}
				.clr
				= yield
				.social_icon
					%a{href: "#."}
						%img{alt: "facebook", height: "25", src: asset_path("face_bok_icon.png"), width: "25"}
					%h3
						%a{href: "#."} Like us op Facebook
					%a{href: "#."}
						%img{alt: "twitter", height: "25", src: asset_path("twiter_icon.png"), width: "25"}
					%h3
						%a{href: "#."} Follow us op Twitter
				%img{height: "47", src: asset_path("social_icon_bg.png"), width: "40"}
		=render "shared/footer"
